[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask_mongoengine = "*"
flask-restful = "*"
kanpai = "*"
mongoengine = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
